.footer__logo {
   float: left;
}

.quote__text {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #c4c4c450;
   border-radius: 0.5em;
   padding: 1em;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
   margin-bottom: 8em;
}
