.footer__logo {
   display: flex;
   margin-left: 0.4em;
   border-radius: 0.8em 0.8em 0em 0em;
   height: 5em;
   width: 5em;
   opacity: 0.85;
}

.mind__logo {
   border-radius: 0.8em 0em 0em 0em;
}

.footers {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.footer__text {
   padding: 1em;
}

.footer__text a {
   padding: 0.5em;
}

a {
   color: black;
}
